body{
    background-color: #faf4d2;
}

h1.hello{
    color: #8B5DFF !important;
    font-size: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2.intro{
    color: #563A9C;
    font-size: 2.5rem;
}
.highlight{
    color: #8B5DFF !important;
}
.workspace-image{
    border-radius: 10%;
    height: 60px;
    width: 90px;
}
.myImage{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.font-otherhead{
    text-decoration-line: underline;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #563A9C;
}


.text-1{
    color: #563A9C;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text-2{
    font-size: 2rem;
}
h4{
    line-height: 45px;
    font-weight: normal;
}

.btn{
    background:  #6A42C2 ;
    height: 40px;
    color: #FFF7D1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}

.linkedin-img{
    height: 30px;
   border-radius: 50%;
   margin-bottom: 10px;
}
.skill-logo{
    height: 50px;
}
.copyright{
    text-align: center;
    background-color: #faf4d2;
    font-size: 1rem;
    margin-top: 50px;
}
h6{
    color: #6A42C2;
}

/* projects page */


.project-image
{
max-width: 100%;
height: 80%;
border-radius: 10%; 
}
.row{
    margin-top: 30px;
}
.row-1{
    margin-top:70px;
}
.mid-right{
    text-align: justify;
    align-content: center;
}
.projects{
    color: #563A9C;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 50px;
}
.back{
   justify-content: center;
}

/* font-family: "Montserrat", sans-serif; */